<p>Hey {{ name }},</p>
<p>Please be notified that your rent on property <b>{{ property_name }} will soon expire.</b></p>
<p>You only have <b>{{ duration_amount }}</b> { <b>{{ duration_unit }}</b> } of rent left on the property</p>
<p>To review your rent use the link below</p>
<p>
  <a href="{{ url }}">Review</a>
</p>

<p>Thank you</p>
<p>Occupy's Management</p>
